#folder-img {
    width: 84px;
    height: 67px;
}

#folder-div {
    margin-right: 11px;
    margin-left: 11px;
    margin-top: 14px;
}

#folder-div:hover {
    background-color: #E5F3FF;
}

#folder-div:active {
    background-color: #CCE8FF;
}

p {
    overflow-wrap: break-word;
    width: 84px;
    font-size: 10px;
    color: black;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

#dirflex {
    display: flex;
    flex-wrap: wrap;
}

html body {
    background-color: white;
}

img {
    pointer-events: none;
    user-select: none;
}