#folder-div {
    width: 83px;
    margin-right: 11px;
    margin-left: 11px;
    margin-top: 14px;
    justify-content: center;
}

#folder-div:hover {
    background-color: #E5F3FF;
}

#folder-div:active {
    background-color: #CCE8FF;
}

p {
    overflow-wrap: break-word;
    width: 67px;
    font-size: 10px;
    color: black;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    pointer-events: none;
    user-select: none;
}

#dirflex {
    display: flex;
    flex-wrap: wrap;
}

html body {
    background-color: white;
}

img {
    pointer-events: none;
    user-select: none;
    margin-left: 8px;
    margin-right: 8px;
    width: 67px;
    height: 67px;
}

.selected {
    background-color: #CCE8FF;
}

#contextmenu {
    width: 295px;
    background-color: ghostwhite;
    user-select: none;
    border: 2px, solid;
    border-color: grey;
    position: absolute;
    border-radius: 10px;
    color: black;
}

#contextmenu p {
    font-size: 16px;
}

.contextmenuitem {
    display: flex;
    padding-left: 10px;
}

#contextmenu:hover {
    background-color: #E5F3FF;
}

#item {
    width: 16px;
    height: 16px;
}

#panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    color: black;
}

.panelbutton {
    cursor: pointer;
    user-select: none;
}

.panelbutton p {
    font-size: 15px;
    width: 125px;
}

.panelselected {
    background-color: #CFE8FD;
    font-weight: bold;
    border-radius: 10px;
}

.panelselected p {
    color: #1CA0EC;
}